<!DOCTYPE html>
<html lang="en">
<head>

  <title>Covid Statistics</title>
    
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 </head>
 <body>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Uttar Pradesh</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
        {% for i in a %}
        <li>{{i}}</li>
        {% endfor %}
        </ul>

      </div>
    </div>
</body>
 </html>



