</script>

<!DOCTYPE HTML>
<html>
<head>  
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	title: {
		text: "Covid in India"
	},
	axisX: {
		valueFormatString: "MMM YYYY"
    },
	axisY2: {
		title: "Total Cases",
	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		horizontalAlign: "center",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [{
		type:"line",
		axisYType: "secondary",
		name: "Confirmed",
		showInLegend: true,
		markerSize: 0,
		dataPoints: [	


			{  label: '{{yesterday8}}', y: {{sterday8_confirmed}} },
			{  label: '{{yesterday7}}', y: {{sterday7_confirmed}} },
			{  label: '{{yesterday6}}', y: {{sterday6_confirmed}} },
            {  label: '{{yesterday5}}', y: {{sterday5_confirmed}} },
			{  label: '{{yesterday4}}', y: {{sterday4_confirmed}} },
			{  label: '{{yesterday3}}', y: {{sterday3_confirmed}} },
			{  label: '{{yesterday2}}', y: {{sterday2_confirmed}} },
			{  label: '{{yesterday1}}', y: {{sterday1_confirmed}} },
			{  label: '{{yesterday}}', y: {{sterday_confirmed}} },
		]
	},
	{
		type: "line",
		axisYType: "secondary",
		name: "death",
		showInLegend: true,
		markerSize: 0,
      
		dataPoints: [
			{  label: '{{yesterday8}}', y: {{sterday8_death}} },
			{  label: '{{yesterday7}}', y: {{sterday7_death}} },
			{  label: '{{yesterday6}}', y: {{sterday6_death}} },
			{  label: '{{yesterday5}}', y: {{sterday5_death}} },
			{  label: '{{yesterday4}}', y: {{sterday4_death}} },
            {  label: '{{yesterday3}}', y: {{sterday3_death}} },
            {  label: '{{yesterday2}}', y: {{sterday2_death}} },
            {  label: '{{yesterday1}}', y: {{sterday1_death}} },
            {  label: '{{yesterday}}', y: {{sterday_death}} },
		]
	},
	{
		type: "line",
		axisYType: "secondary",
		name: "recovered",
		showInLegend: true,
		markerSize: 0,
		dataPoints: [
			{  label: '{{yesterday8}}', y: {{sterday8_recovered}} },
			{  label: '{{yesterday7}}', y: {{sterday7_recovered}} },
			{  label: '{{yesterday6}}', y: {{sterday6_recovered}} },
			{  label: '{{yesterday5}}', y: {{sterday5_recovered}} },
			{  label: '{{yesterday4}}', y: {{sterday4_recovered}} },
            {  label: '{{yesterday3}}', y: {{sterday3_recovered}} },
            {  label: '{{yesterday2}}', y: {{sterday2_recovered}} },
            {  label: '{{yesterday1}}', y: {{sterday1_recovered}} },
            {  label: '{{yesterday}}', y: {{sterday_recovered}} },
      
		]
	},
	]
});
chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>