
<style>@import "compass/css3";
    @import url(http://fonts.googleapis.com/css?family=Roboto:100,500,300,700,400);
    
    body{
      display: table;
      width: 100%;
      background: #dedede;
      text-align: center;
    }
    *{ 
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
    }
    
    .aa_h2{
      font:100 5rem/1 Roboto;
      text-transform: uppercase;
    }
    table{
       background: #fff;
    }
    table,thead,tbody,tfoot,tr, td,th{
      text-align: center;
      margin: auto;
      border:1px solid #dedede;
      padding: 1rem;
      width: 50%;
    }
    .table    { display: table; width: 50%; }
    .tr       { display: table-row;  }
    .thead    { display: table-header-group }
    .tbody    { display: table-row-group }
    .tfoot    { display: table-footer-group }
    .col      { display: table-column }
    .colgroup { display: table-column-group }
    .td, .th   { display: table-cell; width: 50%; }
    .caption  { display: table-caption }
    
    .table,
    .thead,
    .tbody,
    .tfoot,
    .tr,
    .td,
    .th{
      text-align: center;
      margin: auto;
      padding: 1rem;
    }
    .table{
      background: #fff;
      margin: auto;
      border:none;
      padding: 0;
      margin-bottom: 5rem;
    }
    
    .th{
      font-weight: 700;
      border:1px solid #dedede;
      &:nth-child(odd){
        border-right:none;
      }
    }
    .td{
      font-weight: 300;
      border:1px solid #dedede;
      border-top:none;
      &:nth-child(odd){
        border-right:none;
      }
    }
    
    .aa_htmlTable{
      background: tomato;
      padding: 5rem;
      display: table;
      width: 100%;
      height: 100vh;
      vertical-align: middle;
    }
    .aa_css{
      background: skyblue;
      padding: 5rem;
      display: table;
      width: 100%;
      height: 100vh;
      vertical-align: middle;
    }
    
    .aa_ahmadawais{
      display: table;
      width: 100%;
      font: 100 1.2rem/2 Roboto;
      margin: 5rem auto;
    }
  </style>

Total Test Done on {{day}} is  {{today}}
<br>
<br>
Total first dose on {{day}}  - {{indiafirst}}
<br>
<br>
Total second dose on {{day}}  - {{indiasecond}}
<br>
<br>
<!-- <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h1 class="my-0 font-weight-normal"><center>Vaccination on {{day}} </center></h1>
    </div>
  <table class="table table-striped table-light" id="customers">
  <thead>
  <tr>
    <th scope="col"><center>State</center></th>
    <th scope="col"><center>First Dose</center></th>
    <th scope="col"><center>Second Dose</center></th>
    
  </tr>
  </thead>
  <tbody>
  {% for val in context %}
  <tr>
    <td><center>{{val.state}}</center></td>
    <td><center>{{val.first}}</center></td>
    <td><center>{{val.second}}</center></td>
  </tr>
  {% endfor %}
  </tbody>
  <br> -->


   
    <script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      title:{
        text: "Vaccine dose in India"
      },	
      axisY: {
        title: "Vaccine Dose",
        titleFontColor: "#4F81BC",
        lineColor: "#4F81BC",
        labelFontColor: "#4F81BC",
        tickColor: "#4F81BC"
      },
      axisY2: {
        title: "Millions of Barrels/day",
        titleFontColor: "#C0504E",
        lineColor: "#C0504E",
        labelFontColor: "#C0504E",
        tickColor: "#C0504E"
      },	
      toolTip: {
        shared: true
      },
      legend: {
        cursor:"pointer",
        itemclick: toggleDataSeries
      },
      data: [{
        type: "column",
        name: "First dose",
        legendText: "Proven Oil Reserves",
        showInLegend: true, 
        dataPoints:[
        {% for val in context %}
          {y : {{val.first}}, label: '{{val.state}}' },
        {% endfor %}
        ]
      },
      {
        type: "column",	
        name: "Second dose",
        legendText: "Oil Production",
        axisYType: "secondary",
        showInLegend: true,
        dataPoints:[
        {% for val in context %}
          {y : {{val.second}}, label: '{{val.state}}' },
        {% endfor %}
        ]
      }]
    });
    chart.render();
    
    function toggleDataSeries(e) {
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      }
      else {
        e.dataSeries.visible = true;
      }
      chart.render();
    }
    
    }
    </script>
    </head>
    <body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>